.primary {
    color: rgb(212, 51, 172);
    text-align: center;
    /* display: inline; */
}

.service-container {
    border: 1px solid goldenrod;
    border-radius: 2rem;
    text-align: center;
    margin: 2rem;
    padding-bottom: 3rem;

}

.button-style {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-weight: 600;
}

.button-style:hover {}