.offer-section {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;

}

.left-side {
    width: 50%;
}

.right-side {
    width: 50%;
}

.offer {
    text-align: center;
    color: orange;
}